# @see https://phpstan.org/config-reference

includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

  level: 6
  tmpDir: var/cache/phpstan
  phpVersion: 80415

  # @see https://phpstan.org/config-reference#stricter-analysis
  checkInternalClassCaseSensitivity: true

  # @see https://phpstan.org/config-reference#checktoowidereturntypesinprotectedandpublicmethods
  checkTooWideReturnTypesInProtectedAndPublicMethods: true

  # @see https://phpstan.org/config-reference#checkuninitializedproperties
  checkUninitializedProperties: false

  # @see https://phpstan.org/config-reference#rememberpossiblyimpurefunctionvalues
  rememberPossiblyImpureFunctionValues: false

  # Not enabled at level 6 by default, but useful
  checkMissingCallableSignature: true

  # @see https://phpstan.org/config-reference#miscellaneous-parameters
  treatPhpDocTypesAsCertain: false
  tipsOfTheDay: false

  paths:
    - src/

  reportUnmatchedIgnoredErrors: true
